h1 {
  padding: 1em 0;
}

tr.columnheader a {
  color: black;
  text-decoration: none;
}

tr.columnheader th {
  text-align: left;
  padding: .5em 0;
}

tr td {
  padding: .5em 0;
  border-top: 1px solid #aaa;
}

table {
  width: 100%;
}

table#fppta-participant-listing-header {
  margin-bottom: 3em;
}
table#fppta-participant-listing-header td {
  border: none;
}
table#fppta-participant-listing-header img {
  padding-right: 3em;
}
